<div class="home__container">
    <app-card gameCover="assets/bt-4.jpg" gameLabel="DIGITAL" gametype="DIGITAL | PS4" gamePrice="R$29,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gametype="DIGITAL | PS5" gamePrice="R$69,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gametype="DIGITAL | PS5" gamePrice="R$69,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gametype="DIGITAL | PS5" gamePrice="R$69,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gametype="DIGITAL | PS5" gamePrice="R$69,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gametype="DIGITAL | PS5" gamePrice="R$69,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gametype="DIGITAL | PS5" gamePrice="R$69,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gametype="DIGITAL | PS5" gamePrice="R$69,99"></app-card>
</div>